<main class="buscarPartida">
  <header>
    <h2>Partida vs IA - Tu turno </h2>
    <a class="adissabledexit" href="/search">Salir</a>
  </header>
  <div class="tablero">
    <div class="board">
     
    </div>
    <div class='btn pointer'>
      <a>1</a> 
      <a>2</a>
      <a>3</a>
      <a>4</a>
      <a>5</a>
      <a>6</a> 
      <a>7</a>
    <div>
  </div>
</main>
<script src="./js/local.js"></script>
