<main>
  <header>
    <h1 class="searchH1">Buscando partidas</h1>
    <div class="buttons">
      <a>jugar vs IA</a>
      <a id="crearPartida">crear partida</a>
    </div>
  </header>
  <section class="games">
    <h1>NO HAY PARTIDAS DISPONIBLES :(</h1>
  </section>
</main>
