<img src="./img/a.jpg" alt="">
  <main>
    <section>
      <form>
        <h1>Inicia sesión</h1>
        <div class="text-field" id="username">
          <input type="text" required autocomplete="off" autofocus minlength="4" maxlength="10"> 
          <label class="label">Nombre de usuario</label>
        </div>
        <div class="btn-box">
          <button type="submit">Iniciar sesión</button>
        </div>
      </fo>
    </section>
  </main>
  <div class="logo">
    <h1>CONNECT 4</h1>
    <h1>ONLINE</h1>
    <h1>V 1.0</h1>
  </div>
  <script src="./js/signin.js"></script>